<h3>Tables</h3>
<ul>
<li><a href="{{ url_for('question.detail', question_id=question.id) }}">User</a></li>
<li><a href="{{ url_for('question.detail', question_id=question.id) }}">IDwithSubject</a></li>
<li><a href="{{ url_for('question.detail', question_id=question.id) }}">Assignment</a></li>
<li><a href="{{ url_for('question.detail', question_id=question.id) }}">Notice</a></li>
<li><a href="{{ url_for('question.detail', question_id=question.id) }}">OnlineLecture</a></li>
<li><a href="{{ url_for('question.detail', question_id=question.id) }}">Subject</a></li>

</ul>
